<h2>Buttons</h2>

<h3>Basic buttons - Angular Material</h3>
<div>
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink="/">Link</a>
</div>

<h3>Raised Buttons - Angular Material</h3>
<div>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink="/">Link</a>
</div>

<h3>Rounded Buttons</h3>
<div>
  <button krRoundedButton>Basic</button>
  <button krRoundedButton color="primary">Primary</button>
  <button krRoundedButton color="accent">Accent</button>
  <button krRoundedButton color="warn">Warn</button>
  <button krRoundedButton disabled>Disabled</button>
  <a krRoundedButton routerLink="/">Link</a>
</div>

<h3>Outline Buttons</h3>
<div>
  <button krOutlineButton>Basic</button>
  <button krOutlineButton color="primary">Primary</button>
  <button krOutlineButton color="accent">Accent</button>
  <button krOutlineButton color="warn">Warn</button>
  <button krOutlineButton disabled>Disabled</button>
  <a krOutlineButton routerLink="/">Link</a>
</div>

<h3>Rounded Outline Buttons</h3>
<div>
  <button krRoundedOutlineButton>Basic</button>
  <button krRoundedOutlineButton color="primary">Primary</button>
  <button krRoundedOutlineButton color="accent">Accent</button>
  <button krRoundedOutlineButton color="warn">Warn</button>
  <button krRoundedOutlineButton disabled>Disabled</button>
  <a krRoundedOutlineButton routerLink="/">Link</a>
</div>

<h3>Button Sizes</h3>
<div>
  <button mat-raised-button color="primary" krButtonSize="large">Large</button>
  <button krRoundedOutlineButton color="primary" krButtonSize="large">Large</button>
  <button mat-raised-button color="accent">Default</button>
  <button krRoundedOutlineButton color="accent">Default</button>
  <button mat-raised-button color="warn" krButtonSize="small">Small</button>
  <button krRoundedOutlineButton color="warn" krButtonSize="small">Small</button>
  <button mat-raised-button krButtonSize="extra-small">Extra Small</button>
  <button krRoundedOutlineButton krButtonSize="extra-small">Extra Small</button>
</div>

<h3>Icon Buttons - Angular Material</h3>
<div>
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a whats hot icon">whatshot</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon aria-label="Example icon-button with a mood icon primary color">mood</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon aria-label="Example icon-button with a pets icon accent color">pets</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon aria-label="Example icon-button with a star icon warm color">star</mat-icon>
  </button>
  <button mat-icon-button disabled>
    <mat-icon aria-label="Example icon-button with a face icon disabled">face</mat-icon>
  </button>
</div>

<h3>Outline Fab Buttons</h3>
<div>
  <button krOutlineFabButton>Basic</button>
  <button krOutlineFabButton color="primary">Primary</button>
  <button krOutlineFabButton color="accent">Accent</button>
  <button krOutlineFabButton color="warn">Warn</button>
  <button krOutlineFabButton disabled>Disabled</button>
  <button krOutlineFabButton color="accent">
    <mat-icon aria-label="Example icon-button with a face icon disabled">pets</mat-icon>
  </button>
  <a krOutlineFabButton routerLink="/" color="accent">Link</a>
</div>

<h3>Fab Buttons - Angular Material</h3>
<div>
  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab>
    <mat-icon aria-label="Example icon-button with a whats hot icon">whatshot</mat-icon>
  </button>
  <a mat-fab routerLink="/">Link</a>
</div>

<h3>Mini Fab Buttons - Angular Material</h3>
<div>
  <button mat-mini-fab>Basic</button>
  <button mat-mini-fab color="primary">Primary</button>
  <button mat-mini-fab color="accent">Accent</button>
  <button mat-mini-fab color="warn">Warn</button>
  <button mat-mini-fab disabled>Disabled</button>
  <button mat-mini-fab>
    <mat-icon aria-label="Example icon-button with a whats hot icon">whatshot</mat-icon>
  </button>
  <a mat-mini-fab routerLink="/">Link</a>
</div>

<h2>Flyouts</h2>

<h3>Raised Button Dropdown</h3>
<div>
  <kr-button-dropdown label="Dropdown">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <hr />
    <button krDropdownItem>Item 3</button>
  </kr-button-dropdown>
  <kr-button-dropdown label="Dropdown w/ Split" color="primary" split>
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-button-dropdown>
  <kr-button-dropdown label="Accent" color="accent">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-button-dropdown>
</div>

<h3>Raised Button Flyup</h3>
<div>
  <kr-button-flyup label="Dropdown">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <hr />
    <button krDropdownItem>Item 3</button>
  </kr-button-flyup>
  <kr-button-flyup label="Dropdown w/ Split" color="primary" split>
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-button-flyup>
  <kr-button-flyup label="Accent" color="accent">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-button-flyup>
</div>

<!-- <h3>Raised Button Dropdown W/ Caret</h3>
<div>
  <kr-button-dropdown caret label="Dropdown">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <hr />
    <button krDropdownItem>Item 3</button>
  </kr-button-dropdown>
  <kr-button-dropdown caret label="Dropdown w/ Split" color="primary" split>
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-button-dropdown>
  <kr-button-dropdown caret label="Accent" color="accent">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-button-dropdown>
</div> -->

<h3>Raised Button Flyup W/ Caret</h3>
<div>
  <kr-button-flyup caret label="Dropdown">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <hr />
    <button krDropdownItem>Item 3</button>
  </kr-button-flyup>
  <kr-button-flyup caret label="Dropdown w/ Split" color="primary" split>
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-button-flyup>
  <kr-button-flyup caret label="Accent" color="accent">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-button-flyup>
</div>

<h3>Outline Button Dropdown</h3>
<div>
  <kr-outline-button-dropdown label="Dropdown">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <hr />
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-dropdown>
  <kr-outline-button-dropdown label="Dropdown w/ Split" color="primary" split>
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-dropdown>
  <kr-outline-button-dropdown label="Accent" color="accent">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-dropdown>
</div>

<h3>Raised Outline Button Flyup</h3>
<div>
  <kr-outline-button-flyup label="Dropdown">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <hr />
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-flyup>
  <kr-outline-button-flyup label="Dropdown w/ Split" color="primary" split>
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-flyup>
  <kr-outline-button-flyup label="Accent" color="accent">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-flyup>
</div>

<h3>Raised Outline Button Flyup /W Caret</h3>
<div>
  <kr-outline-button-flyup caret label="Dropdown">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <hr />
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-flyup>
  <kr-outline-button-flyup caret label="Dropdown w/ Split" color="primary" split>
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-flyup>
  <kr-outline-button-flyup caret label="Accent" color="accent">
    <button krDropdownItem>Item 1</button>
    <button krDropdownItem>Item 2</button>
    <button krDropdownItem>Item 3</button>
  </kr-outline-button-flyup>
</div>

<h2>Button Groups</h2>

<h3>Button Toggle Group - Angular Material</h3>
<div>
  <mat-button-toggle-group>
    <mat-button-toggle value="whatshot" checked="true">
      <mat-icon aria-label="Example icon-button with a whats hot icon">whatshot</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="mood">
      <mat-icon aria-label="Example icon-button with a mood icon">mood</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="pets">
      <mat-icon aria-label="Example icon-button with a pets icon">pets</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="star">
      <mat-icon aria-label="Example icon-button with a star icon">star</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="face">
      <mat-icon aria-label="Example icon-button with a face icon">face</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<h3>Vertical Button Toggle Group - Angular Material</h3>
<div>
  <mat-button-toggle-group vertical>
    <mat-button-toggle value="whatshot" checked="true">
      <mat-icon aria-label="Example icon-button with a whats hot icon">whatshot</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="mood">
      <mat-icon aria-label="Example icon-button with a mood icon">mood</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="pets">
      <mat-icon aria-label="Example icon-button with a pets icon">pets</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="star">
      <mat-icon aria-label="Example icon-button with a star icon">star</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="face">
      <mat-icon aria-label="Example icon-button with a face icon">face</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<h3>Horizontal Button Group</h3>
<div krButtonGroup>
  <button krOutlineButton color="accent">Left</button>
  <button krOutlineButton color="accent">Middle</button>
  <button krOutlineButton color="accent">
    <mat-icon aria-label="Example icon-button with a whats hot icon">whatshot</mat-icon>
  </button>
  <a krOutlineButton routerLink="/" color="accent">Link</a>
</div>

<h3>Vertical Buton Group</h3>
<div krButtonGroup vertical>
  <button krOutlineButton color="accent">Left</button>
  <button krOutlineButton color="accent">Middle</button>
  <button krOutlineButton color="accent">
    <mat-icon aria-label="Example icon-button with a whats hot icon">whatshot</mat-icon>
  </button>
  <a krOutlineButton routerLink="/" color="accent">Link</a>
</div>
