@import '~@angular/material/theming';
@import '../themes/deeporange-teal.theme.scss';

// Buttons
$button-height: 36px;
$icon-button-size: 56px;

// Material Defaults
$icon-font-size: 24px;

// Theme
$accent: map-get($deeporange-teal-theme, accent);
$primary: map-get($deeporange-teal-theme, primary);
$warn: map-get($deeporange-teal-theme, warn);
