<div class="kr-button-flyout">
    <div>
      <button krOutlineButton [color]="color" class="kr-flyout-label" [ngClass]="{ split: isSplit }" (mousedown)="isExpanded = !isExpanded">
        {{label}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
    <div [@toggleFlyout]="isExpanded" class="kr-button-flyout-list" [ngClass]="{ 'has-caret': hasCaret }">
      <div class="caret-mask" *ngIf="hasCaret">
        <div class="caret"></div>
      </div>
      <div class="kr-button-flyout-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  