<div class="kr-button-flyout">
  <div [@toggleFlyout]="isExpanded" class="kr-button-flyout-list kr-flyup" [ngClass]="{ 'has-caret': hasCaret }">
    <div class="kr-button-flyout-content">
      <ng-content></ng-content>
    </div>
    <div class="caret-mask" [ngClass]="{ center: alignedCenter, right: alignedRight }" *ngIf="hasCaret">
      <div class="caret"></div>
    </div>
  </div>
  <div>
    <button krOutlineButton [color]="color" class="kr-flyout-label" [ngClass]="{ split: isSplit }" (mousedown)="isExpanded = !isExpanded">
      {{label}}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>
</div>
  