@import '../_vars.scss';

button:disabled {
  cursor: not-allowed !important; // Overrides material
}

.kr-button {
  background-color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: $button-height;
  min-width: 88px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background .4s cubic-bezier(.25,.8,.25,1), box-shadow 280ms cubic-bezier(.4,0,.2,1);
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;

  &:disabled {
    background-color: rgba(0,0,0,.12);
  }

  &.kr-primary {
    background-color: mat-color($primary);
    color: mat-contrast($deeporange-teal-theme-primary, 500);
  }

  &.kr-accent {
    background-color: mat-color($accent);
    color: mat-contrast($deeporange-teal-theme-accent, 500);
  }

  &.kr-warn {
    background-color: mat-color($warn);
    color: mat-contrast($deeporange-teal-theme-warn, 500);
  }
}

a.kr-button {
  vertical-align: bottom;
}

.kr-large-button {
  font-size: 24px !important; // Overrides Angular Material
  line-height: 45px !important; // Overrides Angular Material
  min-width: 125px !important; // Overrides Angular Material
}

.kr-small-button {
  font-size: 12px !important; // Overrides Angular Material
  line-height: 28px !important; // Overrides Angular Material
  min-width: 75px !important; // Overrides Angular Material
}

.kr-extra-small-button {
  font-size: 10px !important; // Overrides Angular Material
  line-height: 22px !important; // Overrides Angular Material
  min-width: 50px !important; // Overrides Angular Material
}
