.kr-fab-button {
  align-items: center;
  border-radius: $icon-button-size;
  display: inline-flex;
  flex-direction: column;
  height: $icon-button-size;
  justify-content: center;
  min-width: $icon-button-size;
  width: $icon-button-size;
}

.kr-fab-button.kr-outline-button {
  vertical-align: bottom;
}
