@import '../_vars.scss';
@import '../_colors.scss';

.kr-button-flyout {
  display: inline-block;
  position: relative;
}

.kr-button-flyout .caret-mask {
  height: 14px;
  overflow: hidden;
  position: absolute;
  top: -14px;
  width: 29px;
  z-index: 1000;
}

.kr-button-flyout .caret-mask.center {
  left: calc(50% - 15px);
}

.kr-button-flyout .caret-mask.right {
  right: 10px;
}

.kr-flyup .caret-mask {
  bottom: -14px;
  top: auto;
}

.kr-button-flyout .caret {
  background-color: white;
  border: 1px solid $grey;
  box-shadow: $box-shadow;
  height: 14px;
  left: 10px;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  width: 14px;
}

.kr-flyout-label {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-right: 5px !important; // Overrides mat-rasied-button
}

.kr-flyout-label .mat-icon {
  margin-left: 10px;
}

.kr-flyout-label.split .mat-icon {
  border-left: 1px solid;
  height: $button-height;
  line-height: $button-height;
  padding-left: 3px;
}

.kr-flyout-label.kr-outline-button .mat-icon {
  height: calc(#{$button-height} - 4px);
  line-height: calc(#{$button-height} - 4px);
}

.kr-button-flyout-list {
  background-color: white;
  border: 1px solid $grey;
  border-radius: 3px;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  margin-top: 2px;
  position: absolute;
  z-index: 500;
}

.kr-button-flyout-list.has-caret {
  top: 48px;

  &.center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.right {
    right: 0px;
  }
}

.kr-button-flyout-content {
  overflow: hidden;
}

.kr-button-flyout-content>* {
  background-color: white;
  border: none;
  cursor: pointer;
  display: block;
  line-height: $button-height;
  min-width: 125px;
  outline: none;
  padding: 0px 16px;
  white-space: nowrap;
  width: 100%;
}

.kr-button-flyout-content>*:hover {
  background-color: rgba(0, 0, 0, .12);
}

.kr-button-flyout-content>*:active {
  background-color: rgba(0, 0, 0, .24);
}

.kr-button-flyout hr {
  border-style: inset;
  border-width: 1px;
  box-sizing: border-box;
  margin: 0px;
}

.kr-flyup {
  bottom: calc(#{$button-height} + 3px);
  flex-direction: column-reverse;
}

.kr-flyup .caret {
  top: -8px;
}

.kr-flyup.has-caret {
  bottom: calc(#{$button-height} + 14px);
  top: auto;
}
